body{
    text-align: center;
}
div{
    background-color: #ff0000; /*16 os számrendszer*/
    font-size: 50px;
    text-shadow: 1px 1px 3px gray;
    text-align: center;
}
input[type=text]{
    width: 300px;
    text-align: center;
}
div.x0{
    background-color: aqua;
}
div.x1{
    background-color: antiquewhite;
}