
body{
    background-image: url(./img/indexBG.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: #58A6FF;
}
h2{
    text-align: center;
    color: rgb(255, 196, 0);
}
#splash {
    animation: pop 0.58s infinite;
    -webkit-animation: pop 0.58s infinite;
}
@keyframes pop {
    from {
        transform:scale(0.95)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.95)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}





div.all{
    background-color: rgba(255, 255, 255, 0.752);
    border-radius: 3px;
    margin-bottom: 5%;
}
footer{
    background-color: rgb(192, 189, 189);
    border-radius: 3px;
    position: fixed;
    bottom: 0;
    align-items: center;
    text-align: center;
}
